---
layout: default
---

	<!-- <div class="inner-con">
      <h1 id="post_title">{{ page.title }}</h1>
      <h3 id="post_date">{{ page.date | date_to_string }}</h3>
    </div> -->

    {{ content }}

 <footer>
      {% if page.previous.url %}
          <a  id="back" href="{{ site.baseurl }}{{ page.previous.url }}">
            Previous <br> {{ page.previous.title }}
          </a>
      {% endif %}

      {% if page.next.url %}

        <a id="next" href="{{ site.baseurl }}{{ page.next.url }}">
          Next <br> {{ page.next.title }}
        </a>

      {% endif %}
 </footer>
